.view {
  background: url("./../../../assets/img/login.jpg")no-repeat center center;
  background-size: center;
  height: 915px;
  width: 1685px;
}

.letter {
  align-content: center;
  margin-left: 200px;
}
h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold
}
h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold
}


