<!-- Footer -->
<footer class="page-footer font-small purple">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <p>Copyright &copy;{{currentYear}} All rights reserved <a href="/auth/login">sajilobazar.com</a> </p>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
