<br><br><br><br><br><br>
<div class="container">
    <h2>Products</h2>
    <div>
      <table class="table">
        <tr>
          <th>S.N</th>
          <th>Name</th>
          <th>Category</th>
          <th>Brand</th>
          <th>Color</th>
          <th>Price</th>
          <th>Status</th>
          <th>Tags</th>
          <th>Created At</th>
          <th>Image</th>
          <th>Actions</th>
        </tr>
        <tr *ngFor="let prod of products;let i= index">
          <td>{{i +1}}</td>
          <td>{{prod.name}}</td>
          <td>{{prod.category}}</td>
          <td>{{prod.brand}}</td>
          <td>{{prod.color}}</td>
          <td>{{prod.price}}</td>
          <td>{{prod.status}}</td>
          <td *ngIf="prod.tags">{{prod.tags}}</td>
          <td *ngIf="!prod.tags">N/A</td>
          <td>{{prod.createdAt}}</td>
          <td>
            <img src="{{imgUrl}}{{prod.image}}" width="100px" alt="">
          </td>
          <td>
            <button (click)="edit(prod._id)" class="btn btn-info">edit</button>
            <br>
            <br>
            <button (click)="remove(prod._id,i)" class="btn btn-danger">delete</button>
          </td>
        </tr>

      </table>
    </div>
  </div>
  <br><br><br><br><br><br><br>
