    <br><br><br><br><br>
    <div class="container">
      <h2>Update Product</h2>
      <form class="from-group" #addProductForm="ngForm">
        <label for="name">name</label>
        <input class="form-control" type="text" name="name" placeholder="name" [(ngModel)]="product.name">
        <br>
        <label for="brand">brand</label>
        <input class="form-control" type="text" name="brand" placeholder="brand" [(ngModel)]="product.brand">
        <br>
        <label for="description">description</label>
        <input class="form-control" type="text" name="description" placeholder="description" [(ngModel)]="product.description">
        <br>
        <label for="category">category</label>
        <input class="form-control" type="text" name="category" placeholder="category" [(ngModel)]="product.category"
          #category="ngModel">
        <br>
        <div class="danger" [hidden]="category.valid || category.pristine">
          required field*
        </div>
        <label for="color">color</label>
        <input class="form-control" type="text" name="color" placeholder="color" [(ngModel)]="product.color">
        <br>
        <label for="price">price</label>
        <input class="form-control" type="number" name="price" placeholder="price" [(ngModel)]="product.price">
        <br>
        <label for="quantity">quantity</label>
        <input class="form-control" type="number" name="quantity" placeholder="quantity" [(ngModel)]="product.quantity">
        <br>
        <label for="modelNo">modelNo</label>
        <input class="form-control" type="text" name="modelNo" placeholder="modelNo" [(ngModel)]="product.modelNo">
        <br>
        <label for="tags">tags</label>
        <input class="form-control" type="text" name="tags" placeholder="tags" [(ngModel)]="product.tags">
        <br>
        <label for="manuDate">manuDate</label>
        <input class="form-control" type="date" name="manuDate" placeholder="manuDate" [(ngModel)]="product.manuDate">
        <br>
        <label for="expiryDate">expiryDate</label>
        <input class="form-control" type="date" name="expiryDate" placeholder="expiryDate" [(ngModel)]="product.expiryDate">
        <br>
        <label for="weight">weight</label>
        <input class="form-control" type="text" name="weight" placeholder="weight" [(ngModel)]="product.weight">
        <br>
        <label for="origin">origin</label>
        <input class="form-control" type="text" name="origin" placeholder="origin" [(ngModel)]="product.origin">
        <br>
        <div>
          <p>Image</p>
          <img src="{{imgUrl}}{{product.image}}" alt="">
        </div>
        <br>
        <label for="img">Select New Image</label>
        <input type="file" name="image" (change)="changeFile($event)">
        <br>
        <br>

        <button class="btn btn-primary" [disabled]="!addProductForm.valid" *ngIf="!submitting" (click)="submit()">submit</button>
        <button class="btn btn-info" disabled *ngIf="submitting">submitting...</button>
      </form>
    </div>
    <br><br><br><br><br><br>

