<br><br><br><br><br><br>
<div class="container">
    <div *ngIf="!result">
      <h2>Search Product</h2>
      <form class="from-group" #searchProductForm="ngForm">
        <label for="category">category</label>
        <select class="form-control" name="category" [(ngModel)]="product.category" #category="ngModel" required (change)="categorySelected(product.category)">
          <option disabled value="">(Select Category)</option>
          <option *ngFor="let cat of finalCat" [value]="cat">{{cat}}</option>
        </select>
        <div class="danger" [hidden]="category.valid || category.pristine">
          required field*
        </div>
        <br>
        <div *ngIf="showName">
          <label for="name">name</label>
          <select class="form-control" name="name" [(ngModel)]="product.name" #category="ngModel">
            <option disabled value="">(Select Name)</option>
            <option *ngFor="let name of productNames" [value]="name.name">{{name.name}}</option>
          </select>
          <br>
        </div>
        <label for="brand">brand</label>
        <input class="form-control" type="text" name="brand" placeholder="brand" [(ngModel)]="product.brand">
        <br>
        <label for="color">color</label>
        <input class="form-control" type="text" name="color" placeholder="color" [(ngModel)]="product.color">
        <br>
        <label for="minPrice">Min Price</label>
        <input class="form-control" type="number" name="minPrice" placeholder="minPrice" [(ngModel)]="product.minPrice">
        <br>
        <label for="maxPrice">Max Price</label>
        <input class="form-control" type="number" name="maxPrice" placeholder="maxPrice" [(ngModel)]="product.maxPrice">
        <!-- <br>
        <label for="modelNo">modelNo</label>
        <input class="form-control" type="text" name="modelNo" placeholder="modelNo" [(ngModel)]="product.modelNo"> -->
        <br>
        <label for="tags">tags</label>
        <input class="form-control" type="text" name="tags" placeholder="tags" [(ngModel)]="product.tags">
        <br>
        <!-- <label for="manuDate">manuDate</label>
        <input class="form-control" type="text" name="manuDate" placeholder="manuDate" [(ngModel)]="product.manuDate">
        <br>
        <label for="expiryDate">expiryDate</label>
        <input class="form-control" type="text" name="expiryDate" placeholder="expiryDate" [(ngModel)]="product.expiryDate">
        <br> -->

        <button class="btn btn-primary" [disabled]="!searchProductForm.valid" *ngIf="!submitting" (click)="submit()">submit</button>
        <button class="btn btn-info" disabled *ngIf="submitting">submitting...</button>
      </form>

    </div>
    <div *ngIf="result">
      <h2>Search Results </h2>
      <button class="btn btn-info" (click)="searchAgain()"> search again</button>
      <br><br>
      <table class="table">
        <tr>
          <th>S.N</th>
          <th>Name</th>
          <th>Category</th>
          <th>Brand</th>
          <th>Color</th>
          <th>Price</th>
          <th>Status</th>
          <th>Tags</th>
          <th>Created At</th>
          <th>Image</th>
        </tr>
        <tr *ngFor="let prod of products;let i= index">
          <td>{{i +1}}</td>
          <td>{{prod.name}}</td>
          <td>{{prod.category}}</td>
          <td>{{prod.brand}}</td>
          <td>{{prod.color}}</td>
          <td>{{prod.price}}</td>
          <td>{{prod.status}}</td>
          <td *ngIf="prod.tags">{{prod.tags}}</td>
          <td *ngIf="!prod.tags">N/A</td>
          <td>{{prod.createdAt}}</td>
          <td>
            <img src="{{imgUrl}}{{prod.image}}" width="200px" alt="">
          </td>
        </tr>
      </table>

    </div>

  </div>
