<!-- <img src="./../../assets/img/wp2521943.jpg" alt=""> -->
<div class=view>
  <div class="container">
    <br>
    <br>
    <div class="letter">
        <br><br><br><br><br>
        <h1>Welcome To SajiloBazar</h1>
        <h3>The Best The Shopper Can Get.</h3>
    </div>
    <br><br>
      <h4><strong>Please login to proceed</strong></h4>

    <form class="from-group">
      <label for="username"><Strong>Username</Strong></label>
      <input class="form-control" type="text" placeholder="Username" name="username" [(ngModel)]="user.username">
      <br>
      <label for="password"><strong>Password</strong></label>
      <input class="form-control" type="password" placeholder="Password" name="password" [(ngModel)]="user.password">
      <br>
      <!-- <button class="btn btn-primary" (click)="login()">Login</button> -->
      <button [hidden]="submitting" class="btn btn-primary" (click)="login()">Login</button>
      <button [hidden]="!submitting" [disabled]="submitting" class="btn btn-primary"> Logging In</button>
    </form>
    <br>
    <span>Don't have an Account?</span>
    <p>Register <a routerLink="/auth/register"><u>Here</u></a></p>
    <button [routerLink]="['/auth/forgotPassword']" class="btn btn-primary">Forgot Password</button>
  </div>
</div>
