<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark indigo scrolling-navbar intro-fixed-nav"
  [containerInside]="false">
  <mdb-navbar-brand>
    <a class="logo navbar-brand" href="/auth/login"><strong>SajiloBazar</strong></a>
  </mdb-navbar-brand>

  <div>
  <links *ngIf="checkLogin()">
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item waves-light">
        <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/user']">Home</a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            Products<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <!-- <a class="dropdown-item waves-light" mdbWavesEffect href="#">Insert Product</a> -->
            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/product/add']">Insert Product</a>
            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/product/list']">List Products</a>
            <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/product/search']">Search Product</a>
          </div>
      </li>
      <li class="nav-item dropdown" *ngIf="checkAdmin()" dropdown >
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Users<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">List all users</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Fetch Single</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Edit User</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Delete User</a>
        </div>
      </li>
    </ul>
    <!-- Links -->
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item avatar dropdown" dropdown  align="right">
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <img src="./../../assets/img/a.png" width=25% height=25% alt=""
            class="img-fluid rounded-circle z-depth-0"></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect [routerLink]="['/user']">My account</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#" (click)="logout()">Log out</a>
        </div>
      </li>
    </ul>
  </links>
  </div>
  <!-- Collapsible content -->
</mdb-navbar>


