<br><br><br><br><br><br>
<div class="container">
    <h2>Add New Product</h2>
    <form class="from-group" #addProductForm="ngForm">
      <label for="name">name</label>
      <input class="form-control" type="text" name="name" placeholder="name" [(ngModel)]="product.name">
      <br>
      <label for="brand">brand</label>
      <input class="form-control" type="text" name="brand" placeholder="brand" [(ngModel)]="product.brand">
      <br>
      <label for="category">category</label>
      <input class="form-control" type="text" name="category" placeholder="category" [(ngModel)]="product.category"
        #category="ngModel">
      <br>
      <div class="danger" [hidden]="category.valid || category.pristine">
        required field*
      </div>
      <label for="price">price</label>
      <input class="form-control" type="number" name="price" placeholder="price" [(ngModel)]="product.price">
      <br>
      <label for="tags">tags</label>
      <input class="form-control" type="text" name="tags" placeholder="tags" [(ngModel)]="product.tags">
      <br>
      <label for="manuDate">manuDate</label>
      <input class="form-control" type="text" name="manuDate" placeholder="manuDate" [(ngModel)]="product.manuDate">
      <br>
      <label for="expiryDate">expiryDate</label>
      <input class="form-control" type="text" name="expiryDate" placeholder="expiryDate" [(ngModel)]="product.expiryDate">
      <br>
      <label for="origin">origin</label>
      <input class="form-control" type="text" name="origin" placeholder="origin" [(ngModel)]="product.origin">
      <br>
      <input type="file" name="image" [(ngModel)]=product.image (change)="fileChanged($event)">
      <br><br>
      <button class="btn btn-primary" [disabled]="!addProductForm.valid" *ngIf="!submitting" (click)="submit()">submit</button>
      <button class="btn btn-info" disabled *ngIf="submitting">submitting...</button>
    </form>

  </div>
