<div class="view">
  <div class="container">
    <br>
    <br>
    <br><br><br><br><br><br>
    <h3><strong>Please Register</strong></h3>
    <form class="from-group" #registerForm="ngForm">
      <label for="name"><strong>Name*</strong></label>
      <input class="form-control" type="text" [(ngModel)]='user.name' placeholder="Name" name="name" required
        #name="ngModel">
      <div class="danger" [hidden]="name.valid || name.pristine">
        required field*
      </div>
      <br>
      <label for="username"><strong>Username*</strong></label>
      <input class="form-control" type="text" [(ngModel)]='user.username' placeholder="Username" name="username"
        required #username="ngModel">
      <div class="danger" [hidden]="username.valid || username.pristine">
        required field*
      </div>
      <br>
      <label for="password"><strong>Password*</strong></label>
      <input class="form-control" type="password" [(ngModel)]='user.password' placeholder="Password" name="password"
        required minlength="6" #password="ngModel">
      <!-- <div class="danger" [hidden]="password.valid || password.pristine">
              required field*
          </div> -->
      <div class="danger" *ngIf="password.errors && password.dirty">
        <div *ngIf="password?.errors.required">
          required field*
        </div>
        <div *ngIf="password?.errors.minlength">
          weak password
        </div>
      </div>
      <br>
      <label for="email"><strong>Email*</strong></label>
      <input class="form-control" type="text" [(ngModel)]='user.email' placeholder="Email" name="email" required email
        #email="ngModel">
      <!-- <div class="danger" [hidden]="email.valid || email.pristine">
              required field*
          </div> -->
      <div class="danger" *ngIf="email.errors && email.dirty">
        <div *ngIf="email?.errors.required">
          required field*
        </div>
        <div *ngIf="email?.errors.email">
          not a valid email*
        </div>
      </div>
      <br>
      <label for="address"><strong>Address*</strong></label>
      <input class="form-control" type="text" [(ngModel)]='user.address' placeholder="Address" name="address" required
        #address="ngModel">
      <div class="danger" [hidden]="address.valid || address.pristine">
        required field*
      </div>
      <br>
      <label for="phoneNumber"><strong>Phone</strong></label>
      <input class="form-control" type="number" [(ngModel)]='user.phoneNumber' placeholder="Phone Number"
        name="phoneNumber">
      <br>
      <label for="gender"><strong>Gender</strong></label>
      <input class="form-control" type="text" [(ngModel)]='user.gender' placeholder="Gender" name="gender">
      <br>
      <button class="btn btn-primary" [hidden]='submitting' (click)='register()' [disabled]="!registerForm.valid">
        Register</button>
      <button class="btn btn-primary" [hidden]='!submitting' [disabled]='submitting'> Registering</button>
    </form>
    <br>
    <span>Already have an Account?</span>
    <p>Login <a [routerLink]="['/auth/login']">Here</a></p>
  </div>
</div>
